## Multiple Linear Regression - Predicting Salary of Employee

In [1]:
# Importing the libraries
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
# Importing the dataset
dataset = pd.read_csv('Employee_Data.csv')
dataset

      Depatment  WorkedHours  Certification  YearsExperience  Salary
0   Development         2300              0              1.1   39343
1       Testing         2100              1              1.3   46205
2   Development         2104              2              1.5   37731
3   UX Designer         1200              1              2.0   43525
4       Testing         1254              2              2.2   39891
5   UX Designer         1236              1              2.9   56642
6   Development         1452              2              3.0   60150
7       Testing         1789              1              3.2   54445
8   UX Designer         1645              1              3.2   64445
9   UX Designer         1258              0              3.7   57189
10      Testing         1478              3              3.9   63218
11  Development         1257              2              4.0   55794
12  Development         1596              1              4.0   56957
13      Testing         1256              2              4.1   57081
14  UX Designer         1489              3              4.5   61111
15  Development         1236              3              4.9   67938
16      Testing         2311              2              5.1   66029
17  UX Designer         2245              3              5.3   83088
18  Development         2365              1              5.9   81363
19  Development         1500              3              6.0   93940
20      Testing         1456              2              6.8   91738
21      Testing         1760              1              7.1   98273
22  UX Designer         2400              4              7.9  101302
23  Development         2148              3              8.2  113812
24  UX Designer         1450              2              8.7  109431
25  UX Designer         1000              4              9.0  105582
26      Testing         1540              3              9.5  116969
27  Development         1500              2              9.6  112635
28      Testing         3000              4             10.3  122391
29  UX Designer         2100              3             10.5  121872

In [19]:
X = dataset.iloc[:, :4].values
y = dataset.iloc[:, 4].values

In [13]:
# Independent Variables
print("----------------Features--------------------")
X

----------------Features-------------

      Depatment  WorkedHours  Certification  YearsExperience
0   Development         2300              0              1.1
1       Testing         2100              1              1.3
2   Development         2104              2              1.5
3   UX Designer         1200              1              2.0
4       Testing         1254              2              2.2
5   UX Designer         1236              1              2.9
6   Development         1452              2              3.0
7       Testing         1789              1              3.2
8   UX Designer         1645              1              3.2
9   UX Designer         1258              0              3.7
10      Testing         1478              3              3.9
11  Development         1257              2              4.0
12  Development         1596              1              4.0
13      Testing         1256              2              4.1
14  UX Designer         1489              3              4.5
15  Development         1236              3              4.9
16      Testing         2311              2              5.1
17  UX Designer         2245              3              5.3
18  Development         2365              1              5.9
19  Development         1500              3              6.0
20      Testing         1456              2              6.8
21      Testing         1760              1              7.1
22  UX Designer         2400              4              7.9
23  Development         2148              3              8.2
24  UX Designer         1450              2              8.7
25  UX Designer         1000              4              9.0
26      Testing         1540              3              9.5
27  Development         1500              2              9.6
28      Testing         3000              4             10.3
29  UX Designer         2100              3             10.5

In [14]:
# Dependent Variable
print("----------------------Output-----------------------")
y

----------------------Output-----------------------

0      39343
1      46205
2      37731
3      43525
4      39891
5      56642
6      60150
7      54445
8      64445
9      57189
10     63218
11     55794
12     56957
13     57081
14     61111
15     67938
16     66029
17     83088
18     81363
19     93940
20     91738
21     98273
22    101302
23    113812
24    109431
25    105582
26    116969
27    112635
28    122391
29    121872
Name: Salary, dtype: int64

In [22]:
# Encoding categorical data
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
X[:, 0] = labelencoder.fit_transform(X[:, 0])
print("---------------After Label Encoding-------------")
df_enX = pd.DataFrame(X)
df_enX

---------------After Label Encoding-------------

    0     1  2     3
0   0  2300  0   1.1
1   1  2100  1   1.3
2   0  2104  2   1.5
3   2  1200  1   2.0
4   1  1254  2   2.2
5   2  1236  1   2.9
6   0  1452  2   3.0
7   1  1789  1   3.2
8   2  1645  1   3.2
9   2  1258  0   3.7
10  1  1478  3   3.9
11  0  1257  2   4.0
12  0  1596  1   4.0
13  1  1256  2   4.1
14  2  1489  3   4.5
15  0  1236  3   4.9
16  1  2311  2   5.1
17  2  2245  3   5.3
18  0  2365  1   5.9
19  0  1500  3   6.0
20  1  1456  2   6.8
21  1  1760  1   7.1
22  2  2400  4   7.9
23  0  2148  3   8.2
24  2  1450  2   8.7
25  2  1000  4   9.0
26  1  1540  3   9.5
27  0  1500  2   9.6
28  1  3000  4  10.3
29  2  2100  3  10.5

In [23]:
# Splitting the dataset into training and testing dataset
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.25, random_state=42)

In [24]:
# Creating the Linear Regression Model
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

#### Calculating R2 Score

Return the coefficient of determination __R^2__ 
of the prediction. 
The coefficient R^2 is defined
as: <br> 
__(1 - u/v)__<br> 
where u is the residual sum of squares __((y_test - y_pred) ** 2).sum()__<br> 
and v is the total sum of squares __((y_test - y_test.mean()) ** 2).sum().__<br>

The best possible score is 1.0 and it can be
negative (because the model can be arbitrarily worse).<br>

A constant model that always predicts the expected
value of y, disregarding the input features, 
would get a R^2 score of 0.0.

__regressor.score(X, y, sample_weight=None)__: Return the coefficient of determination :math:`R^2` of the
prediction.

In [25]:
accuracy = (regressor.score(X_test, y_pred))
print("Accuracy=", accuracy)

Accuracy= 1.0

In [27]:
from sklearn import metrics
print("Error: ", np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Error:  6277.253591090725

In [28]:
print("Result: ", regressor.predict(np.array([0, 2300, 0, 1.1]).reshape(1,4)))

Result:  [38068.35199995]

In [29]:
print("Result2: ", regressor.predict([[1, 2300, 0, 1.1]]))

Result2:  [37074.50056017]